<p style="color: green"><%= notice %></p>

<%= render @movie_production_company %>

<div>
  <%= link_to "Edit this movie production company", edit_movie_production_company_path(@movie_production_company) %> |
  <%= link_to "Back to movie production companies", movie_production_companies_path %>

  <%= button_to "Destroy this movie production company", @movie_production_company, method: :delete %>
</div>
